.tableHeader {
    font-size: 25px;
}


th {
    font-size: 25px;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0.5rem;
  }
